.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.titulo{
  text-align: center;
  background-color: #145996;
  color: white;
  margin-bottom: 1em;
}

.tituloh1{
  text-align: center;
  background-color: #145996;
  color: white;
}

.tituloh1.nomPreguntado {
  margin-bottom: 1em;
}

/* Buttons REGRESAR */
.but-regresar {
  margin-bottom: 1.5em;
}

textarea {
  resize: none;
}

#btnEnviar {
  font-size: 1.5rem;
}
.btn-success {
  font-size: 1.2rem;
  background-color: #5c5cc2;
  border-color: #5c5cc2;
}

.btn-success:hover {
  background-color: #4c4cbf;
  border-color: #4c4cad;
}
